@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
    padding: 70px 0;
}

h1, h2, h3 {
    font-family: 'Bangers', cursive;
    color: #ce3a24;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

aside {
    width: 200px;
}
nav aside {
    margin-top: 10px;
    background-color: white;
}
article aside ul {
    margin-bottom: 0;
}

.progress {
    margin-bottom: 0;
}

header.curtains {
    background: url('unveil.jpg') 50% 100%;
    background-size: cover;
}
header.curtains * {
    color: white;
}
header.curtains h1 span, nav .navbar-brand span {
    font-size: .7em;
}
header.curtains small {
    position: relative;
    top: 2rem;
    right: -1rem;
}
header.curtains small, header.curtains small a {
    color: rgba(128,128,128,0.75) !important;
}

img.lazy {
    width: 40%;
    min-height: 200px;
    margin: 2rem;
}
img.lazy.unveil-loaded {
    min-height: inherit;
}

header.lazy {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}
header.lazy:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
}
header.lazy * {
    position: relative;
}

.lazy.unveil-placeholder {
    outline: 10px solid steelblue;
}
.lazy.unveil-loading {
    animation: pulsar 1s linear infinite alternate;
}
.lazy.unveil-loaded {
    outline: 10px solid mediumseagreen;
}

section.grid img.lazy {
    width: 85%;
}

@keyframes pulsar {
    from {
        outline: 10px solid steelblue;
    }
    to {
        outline: 0 solid steelblue;
    }
}